.felipeneto{

    background-color: black;
    color: aliceblue;
    margin-bottom: 20px;
}

#feijao{
    width:100% ;
}

.shrek{

    background-color: black;
    color: aliceblue;
    margin-top: 0px;

}

.wtf{

    font-weight: bold;
    font-size: large;
}
#docedeleite{

    width: 100%;

}

.fire{ 

    font-weight: bold;
    font-size: large;
    margin: 0;

}

.luisa{

    font-weight: bold;
    font-size: xx-large;
}

.lilith{

    background-color: black;
    color: aliceblue;

}

.quartzorosa{

    font-weight: bold;
    font-size: larger;

}

.turmalinanegra{

    font-weight: bold;
    font-size: large;

}

.ametista{

    font-weight: bold;
    font-size: large;

}

.obsidiana{

    font-weight: bold;
    font-size: large;
}

.green{

    font-weight: bold;
    font-size: large;

}


.candle{

    font-weight: bold;
    font-size: xx-large;
    
}

.red{

    font-weight: bold;
    font-size: large;
}

.orange{

    font-weight: bold;
    font-size: large;
}

.pink{

    font-weight: bold;
    font-size: large;
}

.blue{

    font-weight: bold;
    font-size: large;
}

.yelow{

    font-weight: bold;
    font-size: large;
}

.white{

    font-weight: bold;
    font-size: large;
}

.black{

    font-weight: bold;
    font-size: large;
}

.brown{

    font-weight: bold;
    font-size: large;
}

#w1{

    width: 24%;

}

#w2{

    width: 24%
    ;
}

#w3{

    width: 24%;

}

#w4{

    width: 24%;

}

.uno{

    background-color: black;
    color: aliceblue;

}

.books{

    font-weight: bolder;
    font-size: xx-large;
}

.A{

    font-weight: bold;
    font-size: large;

}

.B{

    font-weight: bold;
    font-size: large;

}

.C{

    font-weight: bold;
    font-size: large;

}

.D{

    font-weight: bolder;
    font-size: large;

}

.E{

    font-weight: bold;
    font-size: large;

}

.F{

    font-weight: bold;
    font-size:large;

}

#w5{

    width: 100%;

}

